@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #98C1D9;
    padding: 20px;

    position: fixed; /* Make it stick/fixed */
    top: -5px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 50px;

    float: left;
    display: block;
}

nav a:hover {
    background-color: #3D5A80;
    color: white;
    border-radius: 5px;
}

a {
    height: 40px;
}

img.logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    align-self: center;
    padding: 10px;
    display: grid;

}

a.logo_link {
    padding: 0px;
    height: 120px;
    width: 160px;
}

body {
    background-color: #E0FBFC;
    color: #3D5A80;
    font-size: 22px;
    margin: 0;
    padding: 0px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 180px;
}

p {
    font-family: 'Lato', sans-serif;
}

div#hero {
    text-align: center;
}

hr {
    width: 95%;
    height: 5px;
    background-color: #EE6C4D;
}

div#study-card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.pstudy {
    padding: 20px;
}

.studyimg {
    max-height: 180px;
}

.questionimg {
    max-height: 250px;
}

div#question-card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

img.questionimg {
    width: 350px;
    height: 250px;
}

.pquestion {
    padding: 20px;
}


footer {
    display: flex;
    justify-content: space-around;
    background-color: #98C1D9;
    height: 50px;
}

footer a:hover {
    background-color: #3D5A80;
    color: white;
    border-radius: 5px;
}